.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  margin-bottom: 20px;
  width: 100%;
  height: 38px;
  padding: 0 12px;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}
