.list {
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  align-items: baseline;
}

.year {
  position: sticky;
  top: 50%;
  text-align: center;
  font-size: 80px;
  margin: 0;
  margin-top: 50px;
  align-self: start;
  position: sticky;
}

.item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 50px;
  padding: 30px;
  align-items: center;
  cursor: crosshair;
  border-bottom: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title,
.author {
  font-family: 'Libre Baskerville', serif;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: unset;
}

.author {
  font-weight: normal;
  font-size: 18px;
  color: #595959;
}

.read {
  text-align: right;
  font-size: 1em;
}

.rating p {
  font-family: 'Libre Baskerville', serif;
  color: black;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
  .year {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
  .year {
    z-index: 2;
    top: 0;
    margin: 0;
    border-bottom: 1px solid #bdbdbd;
    background-color: #ecece9;
    font-size: 40px;
    padding: 10px 0;
  }
  .item {
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-self: center;
    border-left: 0;
  }
}
