.list {
  position: relative;
  width: 100%;
  margin: 0 auto 10%;
  padding: 5% 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.list-total-books-shown {
  color: grey;
  font-style: italic;
}

.item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 50px;
  align-items: center;
  cursor: crosshair;
}

.item.mobile {
  grid-template-columns: 1fr 4fr;
}

.item.mobile .title {
  font-size: 30px;
}

.item + .item {
  margin-top: 15px;
}

.img {
  max-height: 100px;
  margin-right: 10px;
}

.img img {
  max-height: 100px;
  height: 100%;
  width: auto;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  z-index: 1;
}

.other {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 10px;
  margin-top: unset;
  color: black;
}

.author {
  font-weight: normal;
  font-size: 0.8em;
}

.read {
  text-align: right;
  font-size: 0.8em;
  opacity: 0.7;
}

.rating {
  text-align: right;
  float: right;
}

.side {
  height: 95%;
  top: 1%;
  position: absolute;
  left: -10%;
}

.side .line {
  position: absolute;
  height: calc(100% - 200px);
  top: 100px;
  width: 1px;
  background-color: grey;
  opacity: 0.3;
  left: -28px;
}

.side .latest,
.side .oldest,
.side .latestarrow,
.side .oldestarrow {
  position: absolute;
  transform: rotate(-90deg);
  left: -50px;
  opacity: 0.4;
  color: black;
}

.side .latestarrow {
  top: 0;
  left: -38px;
  width: 20px;
}

.side .oldestarrow {
  bottom: 0;
  left: -38px;
  width: 20px;
  transform: rotate(90deg);
}

.side .latest {
  top: 50px;
}

.side .oldest {
  bottom: 40px;
}

@media screen and (max-width: 450px) {
  .item {
    padding: 15px 0;
  }
  .img img {
    width: 66px;
    height: 100px;
  }
}
