.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #bdbdbd;
}

.title,
.filters {
  width: 100%;
  padding: 20px;
}

.title {
  border-right: 1px solid #bdbdbd;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100%;
}

.title p {
  margin: 0;
}

.filters {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  align-items: center;
}

.search {
  width: 100%;
  height: 38px;
  padding: 0 12px;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

.filters input {
  font-family: sans-serif;
  font-size: 16px;
}

.filtersitems {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1100px) {
  .filters {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .filters {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .content {
    grid-template-columns: 1fr;
  }
  .title {
    border-right: 0;
    border-bottom: 1px solid #bdbdbd;
  }
}
