html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import 'react-input-range/lib/css/index.css';

.hover-reveal {
  opacity: 0;
  position: absolute;
  z-index: 0;
  width: 350px;
  height: 500px;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
}

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
}

.hover-reveal__img {
  background-position: center;
  background-size: cover;
}

.input-range {
  max-width: 250px;
  margin-left: 3%;
}

.input-range__slider {
  background: black;
  border-color: black;
}

.input-range__track--active {
  background: black;
}

.select__control {
  margin-top: 20px;
  border: 2px solid black !important;
  border-radius: 0 !important;
}

.select__indicator-separator {
  background-color: black !important;
}

.select__indicator {
  color: black !important;
}

input {
  outline: none !important;
}

::placeholder {
  color: black !important;
}

.select__placeholder,
.input-range__label-container {
  color: black !important;
}

.hover-reveal + .hover-reveal {
  display: none;
}

@media screen and (max-width: 450px) {
  .input-range {
    max-width: 95%;
  }
}
