.heroContent h1 {
  font-size: 175px;
  line-height: 170px;
  letter-spacing: -5px;
  margin-left: -10px;
  font-weight: 600;
  margin-bottom: 0;
}

.content {
  font-size: 1.25em;
}

.year {
  font-size: 175px;
  line-height: 170px;
  letter-spacing: -5px;
  margin-top: 0;
  margin-left: -8px;
  margin-bottom: 100px;
  font-weight: 600;
}

.heroContent {
  max-width: 1400px;
  margin: 0 auto;
}

.heroContent b {
  font-weight: 600;
}

.heroContent mark {
  background-color: transparent;
  color: black;
}

@media screen and (max-width: 1200px) {
  .heroContent h1,
  .year {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -4px;
  }
}

@media screen and (max-width: 600px) {
  .heroContent h1,
  .year {
    font-size: 65px;
    line-height: 65px;
    letter-spacing: -4px;
  }
  .year {
    margin-bottom: 50px;
  }
}
